html, body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Raleway', sans-serif;
}
hr{
    border: 2px solid black;
}
p, 
a{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
}
.roboto{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
}
.raleway{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}
.bg-color-b{
    background-color: black;
    color: white;
}
.bg-color-dg{
    background-color: #232323;
    color: white;
}
.bg-color-lg{
    background-color: #bababa;
    color: black;
}
.bg-color-c{
    background-color: #00B3B3;
    color: black;
}
/* Nav Bar */

#topNav {
    width: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    transition: 0.25s;
    padding: 1% 4%;
}
#topNav .logo{
    display: inline-block;
    padding: .5rem;
    color: white;
    border-radius: 5px;
    background-color: #00b3b3;
    border: 4px solid black;
    box-sizing: border-box;
    font-size: 1em;
    margin:5px;
    transition: .25s ease;
}
#topNav .logo:hover{
    color: black;
    text-decoration: none;
}

.navbar-nav {
    text-align: center;
}
/* Toggle Button */
.topnav-toggler {
    top: 0;
    right: 33px;
    padding: 0;
    cursor: pointer;
    box-sizing: border-box;
}
#menuToggle{
    background-color: white;
    position: absolute;
    top: 12px;
    right: 33px;
    width: 40px;
    height: 45px;
    display: inline-block;
    cursor: pointer;
    border-bottom: 4px solid black;
    border-radius: 5px;
}

.bar1, .bar2, .bar3 {
    height: 5px;
    background-color: black;
    margin: 5px;
    transition: 0.4s;
}
.bar1{
    width: 30px;
    -webkit-transform: rotate(-90deg) translate(-11px, 0px) ;
    transform: rotate(-90deg) translate(-11px, 0px);
}

.bar2{
    width: 20px;
    -webkit-transform: rotate(-45deg) translate(1px, 14px) ;
    transform: rotate(-45deg) translate(1px, 14px) ;
}
.bar3{
    width: 20px;
    -webkit-transform: rotate(45deg) translate(0px, 0px) ;
    transform: rotate(45deg) translate(0px, 0px) ;
}
.change .bar1 {
    -webkit-transform: rotate(45deg) translate(8px, 8px) ;
    transform: rotate(45deg) translate(8px, 8px) ;
}

.change .bar2 {
    width: 30px;
    -webkit-transform: rotate(-45deg) translate( 0px, 1px) ;
    transform: rotate(-45deg) translate(0px,1px) ;
}

.change .bar3 {
    opacity: 0;
}
button:focus {
    outline: 1px dotted;
    outline: 5px auto #00b3b3;
}
@media only screen and (min-width:992px){
    #menuToggle{
        display: none;
    }
    #topNav{
    padding: 1% 4%;
    }
}
/* End of Toggler */
#menu-overlay{
    text-align: center;
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
.overlayVisible{
    height: 100%!important;
}
.topnavVisible{
    background-color: transparent!important;
    box-shadow: none!important;
}
.overlay-context{
    padding: 20% 15%;
}
.overlay-context .nav-link {
    font-size: 1.5em;
    background-color: black;
    color: white;
    border: 4px solid #00ffdc;
    margin-top: 10px;
    border-radius: 6px;
}
.overlay-context > a:nth-child(1){
    font-size: 1.2em;
    color: black;
    background-color: white;
    padding: .5rem 1rem;
    border-radius: 6px;
    margin-bottom: 5px;
}
.overlay-context .callbtn{
    display: block;
    margin-top: 10px;
    padding: .5rem 0;
    font-size: 1.5em;
    color: black;
    background-color: #00b3b3;
    border: 4px solid #00FFDC;
    border-radius: 6px;
    transition: 0.25s ease;
}
.overlay-context .callbtn:hover{
    color: white;
    background-color: black;
    text-decoration: none;
}
#navbar-context{
    display: none;
    padding: 2%;
}
#navbar-context > a{
    color: black;
    margin-right: 10px;
    transition: 0.25s ease;
    padding: .5rem .3rem;
    border-radius: 6px;
}
#navbar-context > a:hover,
#navbar-context > a:focus,
#navbar-context > a:active{
    border-bottom: 4px solid black;
    text-decoration: none;
}
#navButton a{
    margin-right: 10px;
}
#overlay-button a{
    margin-right: 10px;
    margin-top: 10px;
}
#navButton .callbtn{
    background-color: #00b3b3;
    width: 190px;
    color: black;
    border: 4px solid #00FFDC;
    transition: 0.25s ease;
}
#navButton .callbtn:hover{
    color: white;
    background-color: black;
    text-decoration: none;
}
.socialbtn{
    background-color: black;
    border-radius: 6px;
    text-align: center;
    color: white;
    transition: 0.25s ease;
}
#overlay-button .socialbtn{
    font-size: 1.75em;
    border: solid 4px white;
    border-radius: 6px;
    margin-top: 20px;

}
#navButton .socialbtn{
    width: 40px;
    padding: 0%;
    height: 40px;
    top: 4px;
    font-size: 26px;
    border-radius: 6px;
}
#navButton .socialbtn:hover,
#overlay-button .socialbtn:hover{
    color: #00B3B3;
    text-decoration: none;
}
#navButton a:nth-child(2) span,
#overlay-button a:nth-child(1) span{
    font-size: 1.1em;
}
#navbar-context{
    display: none;
}
@media only screen and (min-width: 768px){
    .overlay-context {
        padding: 10% 25%;
    }
}@media only screen and (min-width: 992px){
    #navbar-context{
        display: inline;
    }
    #navButton{
        float: right;
        margin: 5px;
        }
}
/* End of Nav Bar */
/* Header */
#home{
    padding: 25% 5% 5%;
    margin-top: 40px;
}
#home div{
    background-color: #00B3B3;
}
#intro-h{
    padding: 4% 6% 3%;
}
#intro-h h1{
font-size: 1.75rem;
text-align: center;
padding-bottom: 10%;
}
#intro-h p{
    text-align: center;
    border: 2px solid black;
    padding: 3%;
}
@media only screen and (min-width: 425px){
    #home{
        padding: 17% 5%;
    }
}
@media only screen and (min-width: 600px){
    #home{
        padding: 3% 5%;
        margin-top: 100px;
    }
    #home div{
        background-image: url("Books.png");
        background-position-x: 100%;
        background-position-y: -100%;
        background-repeat: no-repeat;
        background-size: contain;
    }
    #intro-h{
        padding: 10% 6%;
    }
    #intro-h h1{
    text-align: left;
     width: 70%;
     padding-bottom: 1%;
     font-size: 1.25rem;
    }
    #intro-h p{
    text-align: left;
    padding: 1%;
    width: 60%;
    font-size: 14px;
    }
}
@media only screen and (min-width:768px){
    #intro-h{
        padding: 10% 6%;
    }
}
@media only screen and (min-width: 992px){
    #home {
        padding: 0% 5%;
    }
    #intro-h{
        padding: 11% 6%;
    }
}
@media only screen and (min-width: 1100px){
    #intro-h h1 {
        font-size: 2.5rem;
    }
    #intro-h p {
        width: 50%;
        font-size: 24px;
    }
}
@media only screen and (min-width: 1440px){
    #intro-h{
        padding: 15% 6%;
    }
}

 /* Section 2 - Who is me */
    /* Description */
#whoisme{
    padding:15% 5%;
    background-color: transparent;
}

#intro-w,
#intro-s{
    padding: 0 6% 5%;
    margin: auto;
}
#intro-w h1,
#intro-s h1{
    text-align: center;
    font-size: 1.5em;
}
#intro-w h1 > span,
#intro-s h1 > span{
    font-size: 1.5em;
}
#intro-w p,
#intro-s p{
    text-align: left;
    font-size: 18px;
}
#intro-w p:nth-last-child(),
#intro-s p:nth-last-child(){
    margin-top: 5px;
}
    /* Certification */
#certification{
    padding: 5% 5% 0;
    margin: auto;
}
#certification h6,
#schools > h6,
#student-comment > div > h6{
    text-align: center;
    border: 2px solid #00b3b3;
    padding: 6%;
    margin-bottom: 25px;
}
#certification .row{
    margin:auto;
}
#certification > div{
    padding: 6%;
}
.cert-img{
    background-color: black;
    padding: 4%;
}
#certification .fix-row .cert-img{
    margin-top: 5px;
}
.cert-img img{
    width: 100%;
    transition: 0.5s ease;
}
.cert-overlay{
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.cert-overlay a{
    color: white;
    font-size: 1.5em;
}
.cert-overlay a:hover{
    text-decoration: none;
    cursor: pointer;
}
.cert-img:hover .cert-overlay{
    opacity: 1;
    cursor: pointer;
}
.cert-img:hover img{
    opacity: 0.25;
    cursor: pointer;
}
#ielts-department {
    margin: 40px auto;
    padding: 10% 8%;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    border: solid #00ffdc 10px;
    box-shadow: #00b3b3 0px 8px 40px;
}
#ielts-department > h6{
    line-height: 26px;
}
/* Schools */
#schools{
    padding: 6%;
}
#schools .row{
    margin:auto;
    padding: 10% 2% 0;
}
#schools .row > div{
    margin-bottom: 30px;
}
.school-info{
    padding-top: 100%;
    position: relative;
    border-radius: 50%;
    color: black;
    text-align: center;
}
#schools .row > div:nth-child(1) .school-info{
    background-color: black;
    border: 5px solid #00b3b3;
    color: white;
}
#schools .row > div:nth-child(2) .school-info{
    background-color: #232323;
    border: 5px solid #BABABA;
    color: white;
}
#schools .row > div:nth-child(3) .school-info{
    background-color: #BABABA;
    border: 5px solid #232323;
}
#schools .row > div:nth-child(4) .school-info{
    background-color: #00B3B3;
    border: 5px solid black;
}
#schools .row > div:not(nth-last-child) .school-info::before{
    content: " ";
    position: absolute;
    bottom: -40px;
    left: 47%;
    height: 40px;
    width: 15px;
    z-index: 1;
}
#schools .row > div:nth-child(1) .school-info::before {
    background: linear-gradient(#00b3b3, #bababa);
}
#schools .row > div:nth-child(2) .school-info::before {
    background: linear-gradient(#bababa, #232323);
}
#schools .row > div:nth-child(3) .school-info::before {
    background: linear-gradient(#232323, black);
}
    .school-info p{
        position: absolute;
        width: 90%;
        top: 25%;
        left: 5%;
        bottom: 0;
        right: 0;
}
@media only screen and (min-width: 375px){
    #whoisme{
        padding:10% 5%;
        background-color: transparent;
    }
    .school-info p{
        font-size: 20px;
    }
    .school-info p .raleway{
        font-size: 23px;
    }
}
@media only screen and (min-width: 768px){
    #schools {
        padding: 6% 0;
    }
    #intro-w,
    #intro-s {
        padding: 0 25%;
    }
    #intro-w h,
    #intro-s h1{
        font-size: 2em;
    }

    #intro-w ,
    #intro-s p{
        font-size: 20px;
    }
    #certification h6,
    #schools > h6,
    #student-comment > div > h6 {
        width: 50%;
        padding: 3% 0;
        margin: auto;
    }
    #certification > div{
        margin:auto;
        padding: 6% 0;
    }
    .fix-row{
        padding: 0px 5%;
    }
    #schools .row > div:not(nth-last-child) .school-info::before{
        height: 15px;
        width: 40px;
        top: 43%;
        left: 100%;
    }
    #schools .row > div:nth-child(1) .school-info::before {
        background: linear-gradient(90deg, #00b3b3, #bababa);
    }
    #schools .row > div:nth-child(2) .school-info::before {
        background: linear-gradient(90deg, #bababa, #232323);
    }
    #schools .row > div:nth-child(3) .school-info::before {
        background: linear-gradient(90deg, #232323, black);
    }
    #ielts-department{
        width: 80%;
    }
    #ielts-department > h6 {
        line-height: 30px;
        font-size: 20px;
    }
}
@media only screen and (min-width: 768px) and (max-width:991px){
    .school-info p,
    .school-info p .raleway{
        font-size: 14px;
    }
}
@media only screen and (min-width: 1200px){
    #ielts-department > h6 {
        line-height: 37px;
        font-size: 25px;
    }
}
@media only screen and (min-width: 1240px){
    #schools .row > div:not(nth-last-child) .school-info::before{
        height: 20px;
    }
}
@media only screen and (min-width: 1440px){
    #intro-w,
    #intro-s {
        padding: 0 27%;
    }
    #intro-w h,
    #intro-s h1{
        font-size: 2.5em;
    }
    #intro-w ,
    #intro-s p{
        font-size: 24px;
    }
    #certification h6,
    #schools > h6,
    #student-comment > div > h6 {
        width: 50%;
        font-size: 1.25em;
    }
}
/* End of section2 - who is me */
/* Section 3 - Services */
#services{
    background-color: #bababa;
    padding: 15% 0 0;
}
#category-s{
    margin: 0;
}
#category-s > div{
    padding: 15%;
}
#category-s > div:nth-child(1),
#category-s > div:nth-child(3){
    background-color: #00b3b3;
    color: white;
}
.category-img{
    padding-top: 100%;
    margin: auto;
    border-radius: 50%;
}
.category-info h6{
    text-align: center;
    font-size: 1.5em;
    padding: 20px 0;
}
#category-s div:nth-child(1) .category-img{
    background-image: url("Logo/IELTS_logo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 65%;
    background-color: white;
}
#category-s div:nth-child(2) .category-img{
    background-image: url("Logo/Flagge-Deutschland.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
#category-s div:nth-child(3) .category-img{
    background-image: url("Logo/006-online-learning-1.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 65%;
    background-color: black;
}
#category-s div:nth-child(4) .category-img{
    background-image: url("Logo/Businessman.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: white;
}
@media only screen and (min-width: 768px){
    #intro-s{
        padding-bottom: 10%;
    }
    #category-s > div{
        padding: 7%;
    }
    #category-s > div:nth-child(4){
        background-color: #00b3b3;
        color: white;
    }
    #category-s > div:nth-child(3){
        background-color: unset;
        color: black;
    }
}
@media only screen and (min-width: 992px){
    #category-s > div{
        padding:7% 10%;
    }
}
@media only screen and (min-width: 1200px){
    .category-info h6{
        font-size: 1.75em;
    }
    .category-info p{
        font-size: 24px;
    }
    #category-s > div{
        padding:7% 13%;
    }
}
/* Students Comment */
#student-comment{
    padding: 10% 0 0;
    margin: 0;
    background-color: white;
}
#student-comment > div{
    padding: 0 10%;
}
#student-comment .row{
    padding: 0 15%;
}
.comment-container p{  
    padding: 10%;
    font-size: 14px;
    border-radius: 10px;
}
.comment-container > h6{
    margin-bottom: 30px;
}
#student-comment > div .row div:nth-child(1) p::before{
    content: " ";
    height: 0;
    position: absolute;
    top: 42px;
    width: 0;
    z-index: 1;
    left: 45%;
    border: medium solid black;
    border-width: 0px 10px 10px 10px;
    border-color:  transparent transparent black transparent;
}
#student-comment > div .row div:nth-child(2) p::before{
    content: " ";
    height: 0;
    position: absolute;
    top: 42px;
    width: 0;
    z-index: 1;
    left: 45%;
    border: medium solid #232323;
    border-width: 0px 10px 10px 10px;
    border-color:  transparent transparent #232323 transparent;
}
#student-comment > div .row div:nth-child(3) p::before{
    content: " ";
    height: 0;
    position: absolute;
    top: 42px;
    width: 0;
    z-index: 1;
    left: 45%;
    border: medium solid #bababa;
    border-width: 0px 10px 10px 10px;
    border-color:  transparent transparent #bababa transparent;
}
#student-comment > div .row div:nth-child(4) p::before{
    content: " ";
    height: 0;
    position: absolute;
    top: 42px;
    width: 0;
    z-index: 1;
    left: 45%;
    border: medium solid #00b3b3;
    border-width: 0px 10px 10px 10px;
    border-color:  transparent transparent #00b3b3 transparent;
}
@media only screen and (min-width: 768px){
    #student-comment > div{
        padding: 0 3%;
    }
    #student-comment .row{
        padding: 10% 0 0;
    }
    .comment-container > h6{
        font-size: 16px;
    }
}
@media only screen and (min-width: 1200px){
    .comment-container p{    
        font-size: 20px;
    }
    .comment-container > h6{
        font-size: 18px;
    }
}
#pricing{
    background-color: #232323;
    border-radius: 10px;
    color: white;
    margin: 20% auto;
}
#pricing > div {
    padding: 10%;
    text-align: center;
}
#pricing h1{
    font-size: 1.5em;
    text-align: left;
}
#pricing hr {
    text-align: center;
    border: white solid 2px;
}
#pricing p{
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
}
#pricing a{
    margin: auto;
    color: white;
    padding: 3% 10%;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    background-color: #00b3b3;
    border: #00FFDC solid 5px;
    transition: 0.25s ease;
}
#pricing a:hover{
    color: black;
    background-color: white;
    text-decoration: none;
}
@media only screen and (min-width: 768px){
    #pricing{
        margin-bottom: 10%;
        width: 70%;
    }
    #pricing > div {
        padding: 10% 15%;
    }
}
@media only screen and (min-width: 1200px){
    #pricing h1{
        font-size: 2.5em;
    }
    #pricing p{
        font-size: 24px;
    }
    #pricing a{
        font-size: 24px;
    }
}
/* End of Students Comment */
/* Section 4 - Big Quote */
#big-quote{
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 13% 15%;
    background-color: #00b3b3;
}
#big-quote h1{
    font-size: 1.25em;
    color: black;
    margin:auto;
}
#big-quote h1 span{
    margin-top: 20px;
    font-size: 14px;
}
@media only screen and (min-width: 768px){
    #big-quote h1{
        font-size: 1.5em;
    }
    #big-quote h1 span{
        font-size: 18px;
    }
}
@media only screen and (min-width: 992px){
    #big-quote h1{
        font-size: 2em;
    }
    #big-quote h1 span{
        font-size: 18px;
    }
}
@media only screen and (min-width: 1200px){
    #big-quote{
        padding: 10% 15%;
    }
    #big-quote h1{
        font-size: 2.5em;
    }
    #big-quote h1 span{
        font-size: 24px;
    }
}
/* End of Big Quote */
/* Section 5 - Contact Me */
#contact-me{
    background-color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}
#contact-me > header{
    padding: 10% 15%;
    text-align: center;
}
#contact-me > header h1{
    font-size: 1.5em;
    color: white;
    text-align: left;
}
#contact-me > header p{
    font-size: 18px;
    color: white;
    text-align: left;
}
#contact-me > header div{
    margin: auto;
    text-align: center;
}
#contact-me > header > div a{
    font-size: 1.75em;
    color: white;
    transition: 0.25s ease;
}
#contact-me > header > div a:hover{
    color: #00b3b3;
    text-decoration: none;
}
.social-text{
    display: none;
    color: white;
    font-size: 18px;
}
#mailbox{
    padding: 0 5% 15%;
    text-align: center;
    margin: auto;
}
#mailbox .row div p{
    color: white;
    padding: 0 0 5%;
}
#mailbox .row div a{
    margin: auto;
    color: black;
    padding: 3% 10%;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    background-color: #00B3B3;
    border: #00FFDC solid 5px;
    transition: 0.25s ease;
}
#mailbox .row div a:hover{
    background-color: white;
    text-decoration: none;
}
#foot-note{
    font-size: 10px;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}
#foot-note a{
    font-size: 10px;
    color: #00b3b3;
    transition: 0.25s ease;
}
#foot-note a:hover{
    text-decoration: none;
    color: #BABABA;
}
@media only screen and (min-width:768px){
    .social-text{
        display: inline;
    }
    #contact-me > header > div a:nth-child(1){
        margin-right: 20px;
    }
    #contact-me > header > div a{
        font-size: 2em;
        color: white;
    }
    #mailbox{
        padding:0 5% 5%;
    }
    #mailbox .row div a{
        padding: 2% 15%;
    }
}
@media only screen and (min-width:1200px){
    .social-text{
        font-size: 18px;
    }
    #contact-me > header > div a{
        font-size: 2em;
        color: white;
    }
    #contact-me > header h1{
        font-size: 2.5em;
        color: white;
        text-align: left;
    }
    #contact-me > header p{
        font-size: 24px;
        color: white;
        text-align: left;
    }
    #mailbox{
        padding: 0 7% 5%;
        text-align: center;
        margin: auto;
    }
    #mailbox .row div p{
        font-size: 24px;
    }
    #mailbox .row div a{
        margin: auto;
        color: black;
        padding: 2% 15%;
        font-size: 22px;
    }
}
/* End of Section 5 - Contact Me */

/* Modal Section */
.modal .modal-dialog .modal-content img{
    width: 100%;
    text-align: center;
}
/* End of Modal Section */